{{template "header"}}
	<title> 首页 我的beego博客 </title>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		<div class="container">
			{{range .Topics}}
			<div class="page-header">
				<h2 style="margin-top:60px;">{{.Title}}</h2>
				<h6 class="text-muted">文章发表与{{.Cteated}} 共有{{.Views}}次浏览 {{.ReplyCount}}个评论</h6>
				<script>
				   var contents={{.Content}}.replace(/\r\n/g,"<br />");
				   document.write("<p style='font-family:SimHei;font-size:140%'>"+contents+"</p>");
				</script>
			</div>
			{{end}}
		</div>
	</body>
</html>
