{{template "header"}}
        <title>{{.Topic.Title}}——Bug has no bug!</title>
    </head>

    <body>
    	<div class="navbar navbar-default navbar-fixed-top">                
    	    <div class="container">
    	    {{template "navbar" .}}
    	    </div>
    	</div>
    	<div class="container">
    		{{$labels := .Labels}}
           <h1 style="margin-top:60px">{{.Topic.Title}}</h1> 
           <h3>分类：<a href="/?cate={{.Topic.Category}}">{{.Topic.Category}}</a></h3>
           <h5>
           		标签：
           		{{range $labels}}
           			<a href="/?label={{.}}">{{.}}</a>
           		{{end}}
           </h5>
           <h4><a href="/topic/modify?tid={{.Topic.Id}}">修改</a> </h4>
           <script>
			   var contents={{.Topic.Content}}.replace(/\r\n/g,"<br />");
			   document.write("<p style='font-family:SimHei;font-size:140%'>"+contents+"</p>");
			</script>
			<h5>附件:<a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a></h5>
    	</div>
		
		<div class="container">
		{{$tid := .Topic.Id}}
		{{$IsLogin := .IsLogin}}
			{{range .Replies}}
			<h3>{{.Name}} <small>{{.Created}}</small></h3>
			{{.Content}}
			<h5>{{if $IsLogin}}<a href="/reply/delete?rid={{.Id}}&&tid={{$tid}}">删除</a>{{end}}</h5>
			{{end}}
			<h3>本文回复</h3>
			<form method="post" action="/reply/add">
				<input type="hidden" name="tid" value="{{.Topic.Id}}">
				<div class="form-group">
					<label>显示昵称：</label>
					<input type="text" class="form-control" name="nickname">
				</div>
				
				<div class="form-group">
					<label>内容：</label>
					<textarea name="content" cols="30" rows="10" class="form-control"></textarea>

				</div>
				<button type="submit" class="btn btn-default">提交回复</button>	
			</form>
		<div>
    </body>

</html>
