{{template "header"}}
	<title>添加文章</title>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
	</div>

	<div class="container">
		<h1 style="margin-top:60px">添加文章</h1>
		<form method="post" action="/topic" enctype="multipart/form-data">
			<div class="form-group">
				<label>文章标题:</label>
				<input type="text" name="title" class="form-control"></input>
			</div>
			<div class="form-group">
				 <label>分类</label>
				 <input type="text" class="form-control" name="category">
			</div>
			<div class="form-group">
				 <label>标签</label>
				 <input type="text" class="form-control" name="label">
			</div>
			<div class="form-group">
				<label>文章内容:</label>
				<textarea name="content" cols="30" rows="10" class="form-control"></textarea>
			</div>
			<div class="form-group">
				 <label>附件</label>
				 <input type="file" class="form-control" name="attachment">
			</div>
			<div>
				<button type="submit" class="btn btn-default">添加文章</button>
			</div>
		</form>
	</div>
</body>
</html>
